@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&&display=swap');
:root {
    --heading: #FFCE00;
    --font: #C0CCD4;
    --font-dark: #484D5C;
    --bg: #484D5C;
    --bg-opacity: #484D5C77;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;

    background-color: #333333;
    color: var(--font);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', serif;
    color: var(--heading);
    font-weight: 400;
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: 'Oswald', serif;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    background-color: var(--heading);
    color: var(--bg);
}

.headerWrap,
.landingWrap,
.sectionWrap,
.footerWrap {
    width: 90%;
    margin: 0 auto;
}

section:nth-child(even), header {
    background-color: var(--bg);
}

section:nth-child(odd) {
    background-color: var(--bg-opacity);
}

header {
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid #000;
}

header h1 {
    line-height: 40px;
}

.landingWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing .col1,
.landing .col2 {
    max-width: 600px;
    width: 100%;
    padding: 30px 0;
}

.landing h1 {
    font-size: 300%;
    line-height: 1.5;
    margin: 20px 0;
    text-transform: uppercase;
}

.landing h3 {
    font-size: 150%;
    line-height: 1.25;
    letter-spacing: 1.25px;
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--font);
}

.landing button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 20px 0;
    font-size: 125%;
    text-transform: uppercase;
    height: 60px;
    width: 175px;
    border-width: 3px;
}

.landing img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.sectionWrap {
    padding: 75px 0;
    overflow: hidden;
}

.sectionWrap .col1 {
    max-width: 600px;
    margin: 0 auto;
}

.sectionWrap .col1 h2 {
    font-size: 180%;
    text-transform: uppercase;
}

.sectionWrap .col1 p {
    margin: 25px 0;
    letter-spacing: 1px;
}

.sectionWrap .col2 {
    max-width: 600px;
    margin: 0 auto;
}

.sectionWrap .col2 .card1,
.sectionWrap .col2 .card2,
.sectionWrap .col2 .card3,
.sectionWrap .col2 .card4 {
    width: 100%;
    color: var(--font-dark);
    background-color: var(--heading);
    box-shadow: inset 0px 0px 15px rgba(0, 87, 255, 0.5);
    border-radius: 5px;
    padding: 25px;
    overflow: hidden;
    margin: 50px 0;
}

.sectionWrap .col2 .card1:hover,
.sectionWrap .col2 .card2:hover,
.sectionWrap .col2 .card3:hover,
.sectionWrap .col2 .card4:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.sectionWrap .col2 .card1 h4,
.sectionWrap .col2 .card2 h4,
.sectionWrap .col2 .card3 h4,
.sectionWrap .col2 .card4 h4 {
    color: var(--font-dark);
    line-height: 42px;
    font-size: 120%;
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.sectionWrap .col2 .card1 p,
.sectionWrap .col2 .card2 p,
.sectionWrap .col2 .card3 p,
.sectionWrap .col2 .card4 p {
    text-align: justify;
    line-height: 150%;
}

.sectionWrap .col2 .card1 img,
.sectionWrap .col2 .card2 img,
.sectionWrap .col2 .card3 img,
.sectionWrap .col2 .card4 img {
    width: 50%;
    padding: 20px;
    float: right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footerWrap {
    padding: 35px 0 15px 0;
}

.footerWrap h3 {
    font-size: 150%;
    line-height: 30px;
}

.footerWrap .sec1 {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footerWrap .col1,
.footerWrap .col2 {
    width: calc(50% - 50px);
    max-width: 400px;
    margin-left: 25px;
    margin-right: 25px;
}

.footerWrap .col1 {
    text-align: right;
}

.footerWrap .col2 {
    text-align: left;
}

.footerWrap .col2 h3,
.footerWrap .col1 p {
    display: none;
}

.footerWrap .col2 p {
    display: none;
}

.footerWrap .col2 svg {
    height: 30px;
    fill: var(--font);
}

.footerWrap .col2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerWrap .col2 ul li {
    display: inline-block;
    margin: 0 10px;
}

.footerWrap .col2 ul li:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.footerWrap .col3 p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: var(--heading);
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width:650px) {
    .sectionWrap .col2 .card1 img,
    .sectionWrap .col2 .card2 img,
    .sectionWrap .col2 .card3 img,
    .sectionWrap .col2 .card4 img {
        padding: 10px;
    }

    .footerWrap .col1,
    .footerWrap .col2 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}