@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet');

/* reset default styles */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html{
  font-size: 100%;
}
body{
  font-family: 'Barlow Condensed', sans-serif;
  background-color: rgb(47, 53, 79);
  color:  rgb(231, 236, 255);
}
.headerWrap{
  font-size: 2.5rem;
  padding: 2% 6% ;
  background: linear-gradient(125deg, rgba(2,0,36,1) 0%, rgba(123,0,89,1) 64%, rgb(214, 2, 58) 100%);
  box-shadow: 0 2px 10px 0 black;
}
.landingWrap{
  padding: 4%;
  display: flex;
}
.landingWrap .col1{
  width: 50%;
  order: 1;
  padding: 6%;
}
.landingWrap .col1 h1{
  font-size: 3.8rem;
  margin-bottom: 4%;
}
.landingWrap .col1 h3{
  font-size: 1.8rem;
  margin-bottom: 10%;
}
.landingWrap .col1 button{
  font-size: 1.3rem;
  color: #dadada;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(35deg, rgba(2,0,36,.8) 0%, rgba(123,0,89,.8) 64%, rgba(214, 2, 58, .8) 100%);
  border: 1px solid rgb(237, 146, 146);
  border-radius: 5rem;
  padding: 2% 4%;
  outline: none;
}
.landingWrap .col1 button:hover{
  background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(123,0,89,1) 64%, rgba(214, 2, 58, 1) 100%);
  color: #ffffff;
}
.landingWrap .col2{
  width: 50%;
}
.sectionWrap{
  background-color: rgb(30, 29, 39);
  display: flex;
  box-shadow: 0 -2px 10px 0 black;
}
.sectionWrap .col1{
  padding: 6%;
  text-align: center;
}
.sectionWrap .col1 h2{
  font-size: 3.4rem;
  margin-bottom: 10%
}
.sectionWrap .col1 p{
  font-size: 1.5rem;
}
.sectionWrap .col2{
  padding: 6%;
}
.card1,
.card2,
.card3,
.card4 {
  background: linear-gradient(15deg, rgba(2,0,36,1) 0%, rgba(123,0,89,1) 64%, rgba(214, 2, 58, 1) 100%);
  font-size: 1.2rem;
  padding: 3%;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 black;
}
.card1,
.card2,
.card3{
  margin-bottom: 5%;
}
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  background: linear-gradient(15deg, rgb(39, 37, 61) 0%, rgb(107, 47, 91) 64%, rgb(204, 68, 104) 100%);
}
.card1 img,
.card2 img,
.card3 img,
.card4 img {
  max-height: 8rem;
  margin-right: 2%;
  float: left;
  margin-right: 5%;
}
.card1 h4,
.card2 h4,
.card3 h4,
.card4 h4{
  font-size: 1.5rem;
  margin-bottom: 2%;
} 
.footerWrap{
  background: linear-gradient(125deg, rgba(2,0,36,1) 0%, rgba(123,0,89,1) 64%, rgb(214, 2, 58) 100%);
  padding: 2%;
}
.footerWrap .col1{
  width: 30%;
}
.footerWrap .col1 h3{
  font-size: 2.2rem;
  margin-bottom: 4%;
}
.footerWrap .col2{
  text-align: center;
  margin-bottom: 2%;
}
.footerWrap .col2 h3{
  font-size: 1.6rem;
  margin-bottom: 1%;
}
.footerWrap .col2 ul{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
}
.footerWrap .col2 li{
  font-size: 1.2rem;
}
.footerWrap .col2 p{
  display: none;
}
.footerWrap .col2 svg{
  height: 2.2rem;
  fill:#5d6483
}
.footerWrap .col2 svg:hover{
  fill:#8590c2
}
.footerWrap .col3 p{
  font-size: 1.2rem;
  text-align: center;
}
.footerWrap .col3 a{
  text-decoration: none;
  color: rgb(255, 225, 0);
}

@media (max-width:1150px){
  html{
    font-size: 80%;
  }
}
@media (max-width:920px){
  html{
    font-size: 70%;
  }
}
@media (max-width:800px){
  html{
    font-size: 60%;
  }
}
@media (max-width:700px){
  .sectionWrap{
    display: block;
  }
}
@media (max-width:500px){
  .landingWrap{
    display: block
  }
  .landingWrap .col1{
    text-align: center;
    margin: 0 auto;
  }
  .landingWrap .col2{
    margin: 0 auto;
  }
}
